body {
    background-color:green;
}

.dinosaur {
    border: 2px solid burlywood;
}

.assignments {
border:2px solid burlywood;
text-align: center;
width: 30%;
box-shadow:10px 10px 5px;
border: 1px solid gray;
margin-right: 33px;
margin-top: 33px;
background-color:#F5F5F5;
}

